mat-list
  h3(mat-subheader)
  mat-list-item Angular Tutorial
    mat-icon(mat-list-icon) folder
    a(target="_blank" rel="noopener" href="https://angular.io/tutorial") Tour of Heroes
  mat-list-item Angular CLI
    mat-icon(mat-list-icon) folder
    a(target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki") CLI Documentation
  mat-list-item Angular CLI
    mat-icon(mat-list-icon) folder
    a(target="_blank" rel="noopener" href="https://blog.angular.io/") Angular blog
